{% extends 'Base.html' %}
{% block content %}

List of Users | Shop cart

<div class="container">
    <h1>List of user</h1>
  </div>

<hr>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Mobile</th>
        <th>Email</th> 
    </tr>
    </thead>
    <tbody>
    {% for us in all %}
    <tr>
        <td>({{us.name}})</td>
        <td>({{us.age}})</td>
        <td>({{us.address}})</td>
        <td>({{us.mobile}})</td>
        <td>({{us.email}})</td>

    </tr>    
    {% endfor %}

    </tbody>

</table>    

{% endblock %} 