<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table,th,td{
        border:2px solid black:
        border-collapse:collapse:
        width:200px:
        text-align:center:
        }
        body {
          background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXYxRtoP5kTwBiVLFKpNbCJ-LPgL7uHQT3UQ&s');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: 50% 50%;
          
        }
        
            

    </style>    
    
</head>
<body>    
{% block content %}
{% endblock %}
</body>
</html>    